body{
    background-color:#dadada;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #2f2931;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 !important;
    padding: 0 !important;
    height: 10%;
    width:100%;
    top:0;
    position: fixed;
    z-index: 1000;
    margin: 0;
}
nav h3{
    color: rgb(216, 61, 157);
    font-size: xx-large;
    font-weight: bolder;
    margin-left: 0.5em;
}
nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav li{
    padding: 0 !important;
    margin: 0 !important;
}
nav li a {
    text-decoration: none;
    color: rgb(255, 192, 238);
    font-weight: bold;
    padding: 1em !important;
    display: block;      
}
nav li  :hover{
    background-color: #997aa4;
    color: #2f2931;
}
.icon{
    display: flex;
    gap: 10px;
}
.icon i{
    color: rgb(255, 192, 238);
    font-size: 20px;
    padding: 0.5em;
    margin-right: 0.5em;
}
.home{
    background: 
    linear-gradient( rgba(0,0,0,0.8)),
    url("images/code.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden; 
}
.home::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;

    background: radial-gradient(
        circle,
        rgba(0,0,0,0) 50%,
        rgba(0,0,0,0.7) 100%
    );
}

.cen{
    margin: auto;
    color: rgb(207, 213, 219);
    padding: 1em;
}
.home .cen h2{
    font-size: 3rem;
    font-weight: bold;
    padding: 0.5em;
    margin:auto;
    margin-left: 1em;
}
 .home .cen h3{
    font-size: 2rem;
    font-weight: bold;
    margin-left: 0.7em;
 }
 .about{
    margin: 1em auto;
 }
 .about h2{
    margin-top: 1em;
    margin-bottom: 0.5em;
    text-align: center;
    font-size: 7rem;
    font-weight: bold;
    color: rgb(142, 140, 143);
 }
 .about .me{
    width: 55%;
    float: left;
    padding: 1em;
    font-size:x-large;
    margin: 0 1em;
    font-weight: 600;
    color: #2f2931;
 }
 .about .form{
    width: 25%;
    float: left;
    font-size:x-large;
    font-weight: 600;
    background-color: rgb(201, 201, 201);
    border-radius: 5px;
    margin:1em 1em;
    height: 200px;
    padding: 1em 2.5em;
    padding-left:0.7em !important ;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
 }
.about .form span{
    color:rgb(255, 192, 238);
} 
#ag{
    margin-right: 2em;
}
.project{
    clear: both;
    margin: 1em auto;
    margin-bottom: 2em;
 }
 .project h2{
    margin-top: 4em;
    margin-bottom: 0.5em;
    text-align: center;
    font-size: 7rem;
    font-weight: bold;
    color: rgb(142, 140, 143);
}
 .project h3{
    font-size: 3rem;
    font-weight: 600;
    color: rgb(216, 61, 157);
    margin: 0.5em;
}
.project img{
    margin: 0.5em;
    margin-left: 4em;
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
.project .stk{
        margin-top: 4em;
}
.project .stk a{
    margin: 0.5em;
    margin-left: 4em;
    padding: 0.5em;
    text-decoration: none;
    color: #2f2931;
    font-size: x-large;
    font-weight: 600;
}
 .project .left{
    margin: auto;
    margin-left: 1em;
    margin-left: 1em;
    padding: 0.5em;
    float: left;
    width: 45%;
 }
 .project .right{
    margin: auto;
    margin-right: 1em;
    padding: 0.5em;
    float: right;
    width: 45%;
 }
 .project .stk a:hover{
    color: rgb(255, 192, 238);
}
 .resume{
    margin: 1em auto ;
    width: 90% ;
    clear: both;
    padding: 1em;
 }
 .resume .edu h2{
    margin-top: 1em;
    margin-bottom: 0.5em;
    text-align: center;
    font-size: 7rem;
    font-weight: bold;
    color: rgb(142, 140, 143);
}
.resume .tit{
    margin: 0.5em 0em 0.5em 0.5em !important;
    font-size: 3rem !important;
    font-weight: 700 !important;
    color: #ab8b9c !important;
}
 .resume .edu h3{
    margin: 0.5em 0em 0.5em 0.5em;
    font-size: 2rem;
    font-weight: 700;
    color: #5f4b66;
}
 .resume .edu h4{
    margin-left: 2.5em;
    font-size: 1.5rem;
    font-weight: 600;
    color:#997aa4;
 }
 .resume .edu p{
    margin:0em 1em;
    padding: 0.5em;
    font-size:x-large;
    font-weight: 600;
    color: #2f2931;
 }
  .resume .exp h2{
    margin-top: 1em;
    margin-bottom: 0.5em;
    text-align: center;
    font-size: 7rem;
    font-weight: bold;
    color: rgb(142, 140, 143);
}
 .resume .exp h3{
    margin: 0.5em 0em 0.5em 0.5em;
    font-size: 2rem;
    font-weight: 700;
    color: #5f4b66;
}
 .resume .exp h4{
    margin-left: 2.5em;
    font-size: 1.5rem;
    font-weight: 600;
    color:#997aa4;
 }
 .resume .exp ul{
    margin:0em 1em;
    padding: 0.5em;
    font-size:x-large;
    font-weight: 600;
    color: #2f2931;
 }
.skil {
    margin: 1em 0;
    width: 90% ;
    padding: 1em;
}
 .skill {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2em;
    margin: 2em;
    margin-left: 9em !important;
    width: 90%;
}

.card {
    background: rgb(201, 201, 201);
    padding: 1.5em;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    transition: 0.2s;
}
.card:hover {
    transform: translateY(-5px);
    background-color: #997aa4;
}
.card i {
    font-size: 3rem;
    color: rgb(216, 61, 157);
}
 footer {
    padding: 3em 1em;
    background-color: rgb(223, 223, 223); 
    text-align: center;
}
 .contact h2{
    margin-bottom: 0.5em;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #2f2931;
 }
 .contact .fin{
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
 }
 .contact .fin a{
    text-decoration: none;
    color: #2f2931;
    transition: color 0.3s, transform 0.3s;
 }
 .contact .fin a:hover {
    color: rgb(216, 61, 157);
    transform: scale(1.05);
}
 .contact i{
        font-size: 3rem;
      color: rgb(216, 61, 157);  
          transition: transform 0.3s;   
 }
.contact .fin div {
    display: flex;
    align-items: center;
}

.contact .fin div:hover i {
    transform: rotate(15deg); 
}
body.lik h1{
    margin-top: 1em;
    margin-bottom: 0.5em;
    text-align: center;
    font-size: 7rem;
    font-weight: bold;
    color: rgb(142, 140, 143);
}
body.lik .m{
    margin: 0.5em;
    margin-left: 4em;
    border-radius: 50%;
    width: 20em;
    height: 20em;    
    float: right;
}
body.lik p{
    margin:0em 1em;
    padding: 0.5em;
    font-size:x-large;
    font-weight: 600;
    color: #2f2931;
}
body.lik h3{
    font-size: 3rem;
    font-weight: 600;
    color: rgb(216, 61, 157);
    margin: 0.5em;
}
body.lik .vd{
    width: 50%;
    margin: auto;
    height: 200px;
}
body.lik .pm{
    display: flex;
    width: 100%;
    height: 100vh;
}
body.lik .pm img {
    width: 33.33%;
    height: 100%;
    object-fit: cover;
}
@media (max-width: 768px) {
    html, body {
        overflow-x: hidden;
    }
    .about .me,
    .project .left,
    .project .right,
    .resume .edu,
    .resume .exp,
    .skil {
        width: 95%; 
        float: none; 
        margin: 1em auto;
        text-align: center; 
    }
    .about .form {
        width: 95%;
        float: none;
        margin: 1em auto;
        padding: 1em;
    }
    .project .stk {
        text-align: center;  
        .home .cen h2,
    .home .cen h3 ,    .resume h2{
        text-align: center;
        margin-left: 0;
    }
}
    .resume {
        width: 95%;
        margin: 1em auto; 
        padding: 1em;
    }
    .skill {
        margin-left: 0 !important; 
        margin-right: 0 !important;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    .card {
        margin: 0 auto;
    }
        nav h3 {
        font-size: 1rem;
    }
    nav ul {
        gap: 5px;    }
    nav li a {
        padding: 0.3em 0.6em;
        font-size: 0.7rem;
    }
    .icon i {
        font-size: 12px;
        padding: 0.3em;
    }
    nav {
        flex-wrap: nowrap; 
        justify-content: space-around; 
    }
}
